*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.navBar img {
  width: 300px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  // background-color: #42999b;
  // box-shadow: 2px 2px 4px gray;
  background: #fff;
  margin-bottom: 30px;
  height: 8vh;
  font-size: 1.2rem;

  &__lists {
    list-style: none;
    // position: relative;
  }

  &__links {
    text-decoration: none;
    color: black;
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background: #21cbce;
      position: absolute;
      left: 0;
      bottom: -8px;
      opacity: 0;
      // transition: all 0.5s ease 0s;
      transition: all 0.2s linear;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__logo {
    margin-left: 30px;
    justify-self: start;
    font-size: 2rem;
    margin-top: 5px;
    text-decoration: none;
    color: white;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
  }

  &__toggler {
    display: none;
  }

  &__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background-color: rgb(204, 204, 204);
    transition: 0.3s ease-in;
  }

  &__button {
    background-color: #21cbce;
    color: white;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 15px 50px 15px 50px;
    border-radius: 25px;
    letter-spacing: 0.2em;

    &:hover {
      background-color: #92ddd9;
    }
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    &__toggler {
      display: block;
      cursor: pointer;
    }

    &__menu {
      position: fixed;
      top: 7vh;
      right: 0;
      height: 93vh;
      width: 70vw;
      /* background: rgb(0, 33, 65); */
      background: #21cbce;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }

    /* Active Class */
    &__active {
      transform: translateX(0%);
    }

    /* Toggle Icon Animation */

    .toggle .line1 {
      transform: rotate(-45deg) translate(-4px, 5px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-4px, -5px);
    }
  }
}
